In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.read_csv('train.csv')

In [3]:
test=pd.read_csv('test.csv')

In [19]:
sub=pd.read_csv('gender_submission.csv')

In [4]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:

encoder = LabelEncoder()
encoder.fit(df['Name'])
labels = encoder.transform(df['Name'])
df['Name']=labels



encoder = LabelEncoder()
encoder.fit(df['Ticket'])
labels = encoder.transform(df['Ticket'])
df['Ticket']=labels

In [7]:
encoder = LabelEncoder()
encoder.fit(test['Name'])
labels = encoder.transform(test['Name'])
test['Name']=labels



encoder = LabelEncoder()
encoder.fit(test['Ticket'])
labels = encoder.transform(test['Ticket'])
test['Ticket']=labels

In [8]:
df= pd.get_dummies(data = df,columns = ['Sex','Embarked'])

In [9]:
test= pd.get_dummies(data = test,columns = ['Sex','Embarked'])

In [10]:
df['Age']=df['Age'].fillna(df['Age'].mean())

In [11]:
test['Age']=test['Age'].fillna(test['Age'].mean())

In [12]:
#df=df.fillna(0)

In [13]:
#test=test.fillna(0)

In [14]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    int64
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Ticket       418 non-null    int64
 7   Fare         417 non-null    float64
 8   Cabin        91 non-null     object
 9   Sex_female   418 non-null    uint8
 10  Sex_male     418 non-null    uint8
 11  Embarked_C   418 non-null    uint8
 12  Embarked_Q   418 non-null    uint8
 13  Embarked_S   418 non-null    uint8
dtypes: float64(2), int64(6), object(1), uint8(5)
memory usage: 31.6+ KB

In [15]:
encoder = LabelEncoder()
encoder.fit(df['Cabin'])
labels = encoder.transform(df['Cabin'])
df['Cabin']=labels



encoder = LabelEncoder()
encoder.fit(test['Cabin'])
labels = encoder.transform(test['Cabin'])
test['Cabin']=labels

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    int64
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Ticket       418 non-null    int64
 7   Fare         417 non-null    float64
 8   Cabin        418 non-null    int64
 9   Sex_female   418 non-null    uint8
 10  Sex_male     418 non-null    uint8
 11  Embarked_C   418 non-null    uint8
 12  Embarked_Q   418 non-null    uint8
 13  Embarked_S   418 non-null    uint8
dtypes: float64(2), int64(7), uint8(5)
memory usage: 31.6 KB

In [17]:
from xgboost import XGBClassifier

# 모델 선언 예시

y = df['Survived']
x= df.drop('Survived',axis =1)
model = XGBClassifier(n_estimators=500, learning_rate=0.2, max_depth=4, random_state = 100)
model.fit(x, y)
pred = model.predict(test)      
pred = pd.DataFrame(pred, columns=['Survived'])

     Survived
0           0
1           0
2           0
3           0
4           0
..        ...
413         0
414         1
415         0
416         0
417         0

[418 rows x 1 columns]

In [22]:
sub['Survived']=pred

In [27]:
sub.to_csv('sub.csv',index=False)

array([ 892,  893,  894,  895,  896,  897,  898,  899,  900,  901,  902,
        903,  904,  905,  906,  907,  908,  909,  910,  911,  912,  913,
        914,  915,  916,  917,  918,  919,  920,  921,  922,  923,  924,
        925,  926,  927,  928,  929,  930,  931,  932,  933,  934,  935,
        936,  937,  938,  939,  940,  941,  942,  943,  944,  945,  946,
        947,  948,  949,  950,  951,  952,  953,  954,  955,  956,  957,
        958,  959,  960,  961,  962,  963,  964,  965,  966,  967,  968,
        969,  970,  971,  972,  973,  974,  975,  976,  977,  978,  979,
        980,  981,  982,  983,  984,  985,  986,  987,  988,  989,  990,
        991,  992,  993,  994,  995,  996,  997,  998,  999, 1000, 1001,
       1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012,
       1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023,
       1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034,
       1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045,
       1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056,
       1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067,
       1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078,
       1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089,
       1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100,
       1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111,
       1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122,
       1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133,
       1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144,
       1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155,
       1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166,
       1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177,
       1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188,
       1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199,
       1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210,
       1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221,
       1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232,
       1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243,
       1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254,
       1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265,
       1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276,
       1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287,
       1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298,
       1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309])