In [68]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [74]:
df=pd.read_csv('train.csv')

In [75]:
test=pd.read_csv('test.csv')

In [76]:
sub=pd.read_csv('gender_submission.csv')

In [77]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [78]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [79]:
encoder = LabelEncoder()
encoder.fit(df['Name'])
labels = encoder.transform(df['Name'])
df['Name']=labels


encoder = LabelEncoder()
encoder.fit(df['Ticket'])
labels = encoder.transform(df['Ticket'])
df['Ticket']=labels

In [80]:
encoder = LabelEncoder()
encoder.fit(test['Name'])
labels = encoder.transform(test['Name'])
test['Name']=labels



encoder = LabelEncoder()
encoder.fit(test['Ticket'])
labels = encoder.transform(test['Ticket'])
test['Ticket']=labels

In [81]:
df= pd.get_dummies(data = df,columns = ['Sex','Embarked','Cabin'])

In [82]:
test= pd.get_dummies(data = test,columns = ['Sex','Embarked','Cabin'])

In [83]:
df['Age']=df['Age'].fillna(df['Age'].mean())

In [84]:
test['Age']=test['Age'].fillna(test['Age'].mean())

In [85]:
#df=df.fillna(0)

In [86]:
#test=test.fillna(0)

In [88]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 89 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PassengerId            418 non-null    int64
 1   Pclass                 418 non-null    int64
 2   Name                   418 non-null    int64
 3   Age                    418 non-null    float64
 4   SibSp                  418 non-null    int64
 5   Parch                  418 non-null    int64
 6   Ticket                 418 non-null    int64
 7   Fare                   417 non-null    float64
 8   Sex_female             418 non-null    uint8
 9   Sex_male               418 non-null    uint8
 10  Embarked_C             418 non-null    uint8
 11  Embarked_Q             418 non-null    uint8
 12  Embarked_S             418 non-null    uint8
 13  Cabin_A11              418 non-null    uint8
 14  Cabin_A18              418 non-null    uint8
 15  Cabin_A21              418 non-null    uint8
 16  Cabin_A29              418 non-null    uint8
 17  Cabin_A34              418 non-null    uint8
 18  Cabin_A9               418 non-null    uint8
 19  Cabin_B10              418 non-null    uint8
 20  Cabin_B11              418 non-null    uint8
 21  Cabin_B24              418 non-null    uint8
 22  Cabin_B26              418 non-null    uint8
 23  Cabin_B36              418 non-null    uint8
 24  Cabin_B41              418 non-null    uint8
 25  Cabin_B45              418 non-null    uint8
 26  Cabin_B51 B53 B55      418 non-null    uint8
 27  Cabin_B52 B54 B56      418 non-null    uint8
 28  Cabin_B57 B59 B63 B66  418 non-null    uint8
 29  Cabin_B58 B60          418 non-null    uint8
 30  Cabin_B61              418 non-null    uint8
 31  Cabin_B69              418 non-null    uint8
 32  Cabin_B71              418 non-null    uint8
 33  Cabin_B78              418 non-null    uint8
 34  Cabin_C101             418 non-null    uint8
 35  Cabin_C105             418 non-null    uint8
 36  Cabin_C106             418 non-null    uint8
 37  Cabin_C116             418 non-null    uint8
 38  Cabin_C130             418 non-null    uint8
 39  Cabin_C132             418 non-null    uint8
 40  Cabin_C22 C26          418 non-null    uint8
 41  Cabin_C23 C25 C27      418 non-null    uint8
 42  Cabin_C28              418 non-null    uint8
 43  Cabin_C31              418 non-null    uint8
 44  Cabin_C32              418 non-null    uint8
 45  Cabin_C39              418 non-null    uint8
 46  Cabin_C46              418 non-null    uint8
 47  Cabin_C51              418 non-null    uint8
 48  Cabin_C53              418 non-null    uint8
 49  Cabin_C54              418 non-null    uint8
 50  Cabin_C55 C57          418 non-null    uint8
 51  Cabin_C6               418 non-null    uint8
 52  Cabin_C62 C64          418 non-null    uint8
 53  Cabin_C7               418 non-null    uint8
 54  Cabin_C78              418 non-null    uint8
 55  Cabin_C80              418 non-null    uint8
 56  Cabin_C85              418 non-null    uint8
 57  Cabin_C86              418 non-null    uint8
 58  Cabin_C89              418 non-null    uint8
 59  Cabin_C97              418 non-null    uint8
 60  Cabin_D                418 non-null    uint8
 61  Cabin_D10 D12          418 non-null    uint8
 62  Cabin_D15              418 non-null    uint8
 63  Cabin_D19              418 non-null    uint8
 64  Cabin_D21              418 non-null    uint8
 65  Cabin_D22              418 non-null    uint8
 66  Cabin_D28              418 non-null    uint8
 67  Cabin_D30              418 non-null    uint8
 68  Cabin_D34              418 non-null    uint8
 69  Cabin_D37              418 non-null    uint8
 70  Cabin_D38              418 non-null    uint8
 71  Cabin_D40              418 non-null    uint8
 72  Cabin_D43              418 non-null    uint8
 73  Cabin_E31              418 non-null    uint8
 74  Cabin_E34              418 non-null    uint8
 75  Cabin_E39 E41          418 non-null    uint8
 76  Cabin_E45              418 non-null    uint8
 77  Cabin_E46              418 non-null    uint8
 78  Cabin_E50              418 non-null    uint8
 79  Cabin_E52              418 non-null    uint8
 80  Cabin_E60              418 non-null    uint8
 81  Cabin_F                418 non-null    uint8
 82  Cabin_F E46            418 non-null    uint8
 83  Cabin_F E57            418 non-null    uint8
 84  Cabin_F G63            418 non-null    uint8
 85  Cabin_F2               418 non-null    uint8
 86  Cabin_F33              418 non-null    uint8
 87  Cabin_F4               418 non-null    uint8
 88  Cabin_G6               418 non-null    uint8
dtypes: float64(2), int64(6), uint8(81)
memory usage: 59.3 KB

In [89]:
encoder = LabelEncoder()
encoder.fit(df['Cabin'])
labels = encoder.transform(df['Cabin'])
df['Cabin']=labels



encoder = LabelEncoder()
encoder.fit(test['Cabin'])
labels = encoder.transform(test['Cabin'])
test['Cabin']=labels

KeyError: 'Cabin'

In [55]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    int64
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Ticket       418 non-null    int64
 7   Fare         417 non-null    float64
 8   Cabin        418 non-null    int64
 9   Sex_female   418 non-null    uint8
 10  Sex_male     418 non-null    uint8
 11  Embarked_C   418 non-null    uint8
 12  Embarked_Q   418 non-null    uint8
 13  Embarked_S   418 non-null    uint8
dtypes: float64(2), int64(7), uint8(5)
memory usage: 31.6 KB

In [56]:
from xgboost import XGBClassifier

# 모델 선언 예시

y = df['Survived']
x= df.drop('Survived',axis =1)
model = XGBClassifier(n_estimators=500, learning_rate=0.2, max_depth=4, random_state = 100)
model.fit(x, y)
pred = model.predict(test)      
pred = pd.DataFrame(pred, columns=['Survived'])

In [57]:
sub['Survived']=pred

In [58]:
sub.to_csv('sub.csv',index=False)