In [49]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [50]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
sub=pd.read_csv('sample_submission.csv')

In [51]:
def id_seperate(df):
    group=[]
    group_num=[]
    for i in df.index:
        id_=df.loc[i]['PassengerId']
        temp=id_.split('_')
        group.append(temp[0])
        group_num.append(temp[1])
        
    df['group']=group
    df['group_num']=group_num
    return df

def cabin_seperate(df):
    deck=[]
    num=[]
    side=[]
    for i in df.index:
        id_=df.loc[i]['Cabin']
        if type(id_)==float :
            deck.append('0')
            num.append('0')
            side.append('0')
        else:
            temp=id_.split('/')
            deck.append(temp[0])
            num.append(temp[1])
            side.append(temp[2])
        
    df['Cabin_deck']=deck
    df['Cabin_num']=num
    df['Cabin_side']=side
    return df


def name_seperate(df):
    first=[]
    last=[]

    for i in df.index:
        id_=df.loc[i]['Name']
        if type(id_)==float :
            first.append('0')
            last.append('0')
        else:
            temp=id_.split(' ')
            first.append(temp[0])
            last.append(temp[1])
        
    df['Name_first']=first
    df['Name_last']=last
    return df

def labeling_code(df,col):
    encoder=LabelEncoder()
    encoder.fit(df[col])
    enco=encoder.transform(df[col])
    df[col]=enco
    return df

In [52]:
train.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

# preprocessing

In [53]:
train=id_seperate(train)
test=id_seperate(test)

train=cabin_seperate(train)
test=cabin_seperate(test)


#train=name_seperate(train)
#test=name_seperate(test)

In [54]:
train=train.drop('PassengerId',axis=1)
test=test.drop('PassengerId',axis=1)

train=train.drop('Cabin',axis=1)
test=test.drop('Cabin',axis=1)

train=train.drop('Name',axis=1)
test=test.drop('Name',axis=1)

In [55]:
#train=train.drop('Name_first',axis=1)
#test=test.drop('Name_first',axis=1)

In [56]:
train.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,group,group_num,Cabin_deck,Cabin_num,Cabin_side
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,0001,01,B,0,P
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,0002,01,F,0,S
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,0003,01,A,0,S
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,0003,02,A,0,S
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,0004,01,F,1,S

In [57]:
train=labeling_code(train,'HomePlanet')
train=labeling_code(train,'Destination')
test=labeling_code(test,'HomePlanet')
test=labeling_code(test,'Destination')

In [58]:
train=labeling_code(train,'Cabin_deck')
test=labeling_code(test,'Cabin_deck')
train=labeling_code(train,'Cabin_side')
test=labeling_code(test,'Cabin_side')

In [59]:
#train=labeling_code(train,'Name_last')
#test=labeling_code(test,'Name_last')

# 결측치 처리

In [60]:
#train=labeling_code(train,'CryoSleep')
#test=labeling_code(test,'CryoSleep')
train['CryoSleep']=train['CryoSleep'].astype(float)
test['CryoSleep']=test['CryoSleep'].astype(float)

In [61]:
train['VIP']=train['VIP'].astype(float)
test['VIP']=test['VIP'].astype(float)

In [62]:
train['Age']=train['Age'].fillna(train['Age'].mean())
test['Age']=test['Age'].fillna(test['Age'].mean())
train[['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck','VIP','CryoSleep']]=train[['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck','VIP','CryoSleep']].fillna(0)
test[['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck','VIP','CryoSleep']]=test[['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck','VIP','CryoSleep']].fillna(0)

In [63]:
train['group']=train['group'].astype(int)
test['group']=test['group'].astype(int)
train['group_num']=train['group_num'].astype(int)
test['group_num']=test['group_num'].astype(int)
train['Cabin_num']=train['Cabin_num'].astype(int)
test['Cabin_num']=test['Cabin_num'].astype(int)

In [64]:
pd.get_dummies(train,columns=['Cabin_side'])
pd.get_dummies(test,columns=['Cabin_side'])

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,group,group_num,Cabin_deck,Cabin_num,Cabin_side_0,Cabin_side_1,Cabin_side_2
0,0,1.0,2,27.000000,0.0,0.0,0.0,0.0,0.0,0.0,13,1,7,3,0,0,1
1,0,0.0,2,19.000000,0.0,0.0,9.0,0.0,2823.0,0.0,18,1,6,4,0,0,1
2,1,1.0,0,31.000000,0.0,0.0,0.0,0.0,0.0,0.0,19,1,3,0,0,0,1
3,1,0.0,2,38.000000,0.0,0.0,6652.0,0.0,181.0,585.0,21,1,3,1,0,0,1
4,0,0.0,2,20.000000,0.0,10.0,0.0,635.0,0.0,0.0,23,1,6,5,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,0,1.0,2,34.000000,0.0,0.0,0.0,0.0,0.0,0.0,9266,2,7,1496,0,0,1
4273,0,0.0,2,42.000000,0.0,0.0,847.0,17.0,10.0,144.0,9269,1,0,0,1,0,0
4274,2,1.0,0,28.658146,0.0,0.0,0.0,0.0,0.0,0.0,9271,1,4,296,0,1,0
4275,1,0.0,3,28.658146,0.0,0.0,2680.0,0.0,0.0,523.0,9273,1,4,297,0,1,0
4276,0,1.0,1,43.000000,0.0,0.0,0.0,0.0,0.0,0.0,9277,1,7,1498,0,0,1

In [69]:
train['Age_band']=0
train.loc[ train['Age'] <= 16, 'Age_band'] = 0
train.loc[(train['Age'] > 16) & (train['Age'] <= 32), 'Age_band'] = 1
train.loc[(train['Age'] > 32) & (train['Age'] <= 48), 'Age_band'] = 2
train.loc[(train['Age'] > 48) & (train['Age'] <= 64), 'Age_band'] = 3
train.loc[ train['Age'] > 64, 'Age_band'] = 4
train

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,group,group_num,Cabin_deck,Cabin_num,Cabin_side,Age_band
0,1,0.0,2,39.0,0.0,0.0,0.0,0.0,0.0,0.0,False,1,1,2,0,1,2
1,0,0.0,2,24.0,0.0,109.0,9.0,25.0,549.0,44.0,True,2,1,6,0,2,1
2,1,0.0,2,58.0,1.0,43.0,3576.0,0.0,6715.0,49.0,False,3,1,1,0,2,3
3,1,0.0,2,33.0,0.0,0.0,1283.0,371.0,3329.0,193.0,False,3,2,1,0,2,2
4,0,0.0,2,16.0,0.0,303.0,70.0,151.0,565.0,2.0,True,4,1,6,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0.0,0,41.0,1.0,0.0,6819.0,0.0,1643.0,74.0,False,9276,1,1,98,1,2
8689,0,1.0,1,18.0,0.0,0.0,0.0,0.0,0.0,0.0,False,9278,1,7,1499,2,1
8690,0,0.0,2,26.0,0.0,0.0,0.0,1872.0,1.0,0.0,True,9279,1,7,1500,2,1
8691,1,0.0,0,32.0,0.0,0.0,1049.0,0.0,353.0,3235.0,False,9280,1,5,608,2,1
8692,1,0.0,2,44.0,0.0,126.0,4688.0,0.0,0.0,12.0,True,9280,2,5,608,2,2

In [70]:
test['Age_band']=0
test.loc[ train['Age'] <= 16, 'Age_band'] = 0
test.loc[(train['Age'] > 16) & (test['Age'] <= 32), 'Age_band'] = 1
test.loc[(train['Age'] > 32) & (test['Age'] <= 48), 'Age_band'] = 2
test.loc[(train['Age'] > 48) & (test['Age'] <= 64), 'Age_band'] = 3
test.loc[ train['Age'] > 64, 'Age_band'] = 4
test

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,group,group_num,Cabin_deck,Cabin_num,Cabin_side,Age_band
0,0,1.0,2,27.000000,0.0,0.0,0.0,0.0,0.0,0.0,13,1,7,3,2,2
1,0,0.0,2,19.000000,0.0,0.0,9.0,0.0,2823.0,0.0,18,1,6,4,2,1
2,1,1.0,0,31.000000,0.0,0.0,0.0,0.0,0.0,0.0,19,1,3,0,2,3
3,1,0.0,2,38.000000,0.0,0.0,6652.0,0.0,181.0,585.0,21,1,3,1,2,2
4,0,0.0,2,20.000000,0.0,10.0,0.0,635.0,0.0,0.0,23,1,6,5,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,0,1.0,2,34.000000,0.0,0.0,0.0,0.0,0.0,0.0,9266,2,7,1496,2,2
4273,0,0.0,2,42.000000,0.0,0.0,847.0,17.0,10.0,144.0,9269,1,0,0,0,0
4274,2,1.0,0,28.658146,0.0,0.0,0.0,0.0,0.0,0.0,9271,1,4,296,1,2
4275,1,0.0,3,28.658146,0.0,0.0,2680.0,0.0,0.0,523.0,9273,1,4,297,1,3
4276,0,1.0,1,43.000000,0.0,0.0,0.0,0.0,0.0,0.0,9277,1,7,1498,2,0

In [71]:
train['Transported']=train['Transported'].astype(int)

In [72]:
y=train['Transported']
x=train.drop('Transported',axis=1)

In [73]:
from lightgbm import LGBMClassifier

In [74]:
lgb_model = LGBMClassifier(n_estimators=40,learning_rate=0.1)
lgb_model.fit(x,y)
pred = lgb_model.predict(test)

In [75]:
sub['Transported']=pred.astype(bool)

In [76]:
sub.to_csv('result.csv', index=False)

In [77]:
pd.read_csv('result.csv')

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01         True
4        0023_01         True
...          ...          ...
4272     9266_02         True
4273     9269_01        False
4274     9271_01         True
4275     9273_01        False
4276     9277_01         True

[4277 rows x 2 columns]